.notes-app {
    background-color: white;

}

.main-notes-container {
    min-height: calc(50vh - 180px);
    width: calc(100vw - 4rem);
    margin-block-end: 7.5rem;
}

.main-notes-container > h3 {
    text-transform: uppercase;
    padding-inline-start: 1rem;
}

.main-notes-container > h3.pinned {
    width: 100%;
}

.main-notes-container > h3.others {
    border-top: 1px solid rgb(173, 173, 173);
    width: 100%;
    padding-top: 1rem;
}

.filter-add-container{
    height: 80px;
    border-bottom: 1px solid rgb(204, 204, 204);
}
.note-filter{
    height: 80px;
}

@media(max-width:500px){
    .main-notes-container{
    justify-content: center;
    }

}