.notes-app {
    background-color: white;

}

.main-notes-container {
    height: calc(100vh - 180px);
    margin-block-start: 1rem;

}

.filter-add-container{
    height: 80px;
    border-bottom: 1px solid rgb(204, 204, 204);
}
.note-filter{
    height: 80px;
}