.app-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    letter-spacing: 2px;
    font-family: sans-serif;
    font-family: "Arima Madurai", cursive;
    color: #fefefe;
    margin-inline-start: 1rem;
    font-size: 1rem;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
    z-index: -1;
    margin-inline-end: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color .6s;
    height: 80px;
}


@media (max-width: 620px) {
    .app-footer {
        font-size: .775rem;
    }
}