.email-preview {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  color: #202124;
  border-bottom: 1px solid rgb(167, 167, 167);
}

.email-preview:hover {
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  z-index: 1;
}

.email-preview > * {
    justify-content: flex-start;
}

.email-preview div.from { 
    flex: 1;
}
.email-preview div.subject { 
    flex: 2;
}
.email-preview div.body { 
    flex: 4;
}
.email-preview div.readAt { 
    flex: 1;
    display: inline;
}




/* HELPERS */

.read {
  font-weight: 300;
}

.unread {
  font-weight: bold;
}
