/* .note-details {
    width: 100%;
    padding: 4px 16px 12px 16px;
    min-height: 100px;
} */
.prev-container{
    min-height: 140px;
    border-radius: 8px;
}


.note-controls {
    position: absolute;
    bottom: 0;
    right: 0;
}

.note-controls button {
    border: none;
    background: none;
    font-size: 1rem;
}

.note-type {
    position: absolute;
    bottom: 0;
    font-size: 1.3rem;
}
.colors-container{
    position: absolute;
    width: 109px;
    height: 110px;
    border: 1px solid #0000004f;
    z-index: 1;
    background-color: #fff;
    right: 80px;
    bottom: 25px;
    padding: 5px;
    box-shadow: inset 0 0 1px 0px black;
}

.colors-container >*{
    display: inline-block;
    height: 26px;
    width: 26px;
    margin: 2px;
    background-color: cornflowerblue;
    border-radius: 50%;
    border: 1px solid #00000026;
}
.colors-container span:hover{
    border: 1px solid #000000;
}

iframe{
    height: 200px;
    margin-block-start: -2px;
    border-radius: 8px 8px 1px 1px;
}
.note-img {
    min-width: -webkit-fill-available;
    height: 200px;
    border-radius: 8px;
}
.text-container{
    padding:1rem
}

