.done {
    text-decoration: line-through;
}

.todo-task {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 200px;
    align-items: center;
}
.todos-input-container input{
    border-block-end: 1px solid black;
}
.todo-container{
    padding: 1rem;
}