.input-container input{
    border:none;
    outline: 0;
}
.input-container {
    background-color: #fff;
    padding: 1rem;
    margin: 0 auto;
}
.input-container button:not(:last-of-type){

    margin-inline-end: 0.5rem;
}
.input-container button{
    background-color: transparent;
    font-size: 1.2rem;
}