.done {
    text-decoration: line-through;
}

.todo-task {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 200px;
    align-items: center;
    position: relative;
}

.todo-task .del-task {
    display: none;
}
.todo-task:hover .del-task {
    display: inline;
    position: absolute;
    left: -11.5px;
    font-size: .65rem;
    font-weight: bold;
    color: red;
    background-color: inherit;
}

.todo-task p {
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    padding-inline-start: .5rem;
}
.todos-input-container input{
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    margin-inline-end: 2rem;
    padding: 0.4rem;
}
.todo-container{
    padding: 8px 8px;
}
.save-todo-btn{
    width: 7rem;
    margin: 0.3rem auto;
    border-radius: 100px;
    box-shadow: 0px 0px 1px 1px black;
}

@media(max-width:720px){
    .btn-setters{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .todos-input-container input{
        margin-inline-end: 0px;
    }
    .todos-input-container{
        width: 100%;
    }
    .input-container{
        padding-inline-start: 0;
        padding: 0 1rem;
    }
}