.book-filter input {
    width: 20%;
    border-radius: 999px;
    padding: 1rem;
    font-family: 'Jura', sans-serif;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-color: rgba(233, 233, 233, 0.8);
    font-weight: bold;
    transition: .7s;
    outline: none;
}

.book-filter input[type="number"] {
    width: 125px;
}

.book-filter input[type="text"]:hover {
    background-color: #fff;
}
.book-filter input[type="text"] {
    min-width: 150px;
    margin-inline-start: 1rem;
}

.book-filter input::placeholder {
    color: rgb(0, 0, 0);
}



.book-filter {
    margin-bottom: 1rem;
    padding: 1rem;
    border-bottom: 1px solid rgb(175, 175, 175);
}

.book-filter button {
    border-radius: 999px;
    padding: 1rem;
    font-family: 'Jura', sans-serif;
    border: 1px solid black;
    color: #fff;
    background-color: rgb(49, 49, 49);
    font-weight: bold;
    transition: .7s;
    margin-inline-start: .5rem;
}

.book-filter button:hover {
    background-color: rgb(37, 37, 37);
}

.book-filter a {
    background-color: rgb(71, 71, 71);
    color: white;
    text-align: center;
    width: 15%;
    min-width: 100px;
    border: 1px solid #525252;
    text-transform: capitalize;
    padding: 1rem;
    border-radius: 99px;
    float: left;
}