
.book-filter input {
    width: 20%;
    border-radius: .25rem;
    padding: 1rem;
    font-family: 'Jura', sans-serif;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-color: rgba(233, 233, 233, 0.8);
    font-weight: bold;
    transition: .7s;
    outline: none;
}

.book-filter input[type="number"] {
    width: 125px;
}

.book-filter input[type="text"]:hover {
    background-color: #fff;
}
.book-filter input[type="text"] {
    min-width: 7.5rem;
    margin-inline-start: .5rem;
}

.book-filter input::placeholder {
    color: rgb(0, 0, 0);
}



.book-filter {
    padding: 1rem;
    border-bottom: 1px solid rgb(175, 175, 175);
}

.book-filter button {
    padding: 1rem;
    font-family: 'Jura', sans-serif;
    border: 1px solid black;
    color: #fff;
    background-color: rgb(49, 49, 49);
    font-weight: bold;
    transition: .7s;
    margin-inline-start: .5rem;
}

.book-filter button:hover {
    background-color: rgb(37, 37, 37);
}

.book-filter a {
    background-color: rgb(71, 71, 71);
    color: white;
    text-align: center;
    width: 15rem;
    min-width: 100px;
    border: 1px solid #525252;
    text-transform: capitalize;
    padding: 1rem;
    border-radius: .5rem;
}

@media (max-width: 630px) {
    .book-filter input {
        padding: .55rem;
        font-size: .85rem;
    }
    .book-filter input[type="number"] {
        width: 3rem;
    }
    .book-filter a {
        padding: .55rem;
        font-size: .85rem;
    }
    .book-filter button {
        padding: .55rem;
    }
}
@media (max-width: 550px) {
    .book-filter input {
        padding: .5rem;
        font-size: .75rem;
    }
    .book-filter input[type="number"] {
        width: 3rem;
    }
    .book-filter a {
        padding: .5rem;
        font-size: .75rem;
    }
    .book-filter button {
        padding: .5rem;
    }
}
@media (max-width: 420px) {
    .book-filter input[type="text"] {
        width: 2.5rem;
    }
    .book-filter input[type="number"] {
        width: 3rem;
    }
    .book-filter a {
        padding: .5rem .25rem;
        font-size: .55rem;
    }
    .book-filter button {
        display: none;
    }
}