.user-msg {
    background-color: #fff;
    text-align: left;
    padding: 1rem;
    font-size: 1rem;
    font-family: 'Jura', sans-serif;
    position: fixed;
    width: 25%;
    min-width: 375px;
    top: 15px;
    right: 15px;
    border-radius: 20px;
    border: 3px solid black;
    z-index: 2;
    cursor: default;
}

.user-msg.sent, .user-msg.removed-email {
    left: 1rem;
    background-color: #000;
    color: white;
    height: 100px;
}

.user-msg.sent i {
    color: rgb(44, 212, 2);
}

.user-msg.removed-email i {
    color: red;
}

.user-msg.sent button, .user-msg.removed-email button {
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
    padding: .2rem .4rem;
    transition: .3s;
}

.user-msg button {
    float: right;
}

.user-msg h3 {
    margin-top: 0;
    text-transform: uppercase;
}

.user-msg p {
    text-transform: capitalize;
}

.success {
    border-color: rgb(48, 175, 48);
}

.success h3 {
    color: rgb(48, 175, 48);
}

.success button {
    background-color: rgb(48, 175, 48);
    color: white;
    border: none;
    text-transform: capitalize;
    padding: .5rem .7rem;
    border-radius: 50px;
    transition: .3s;
}

.success button:hover {
    background-color: rgb(41, 150, 41);
}
.removed {
    border-color: rgb(255, 73, 73);
}

.removed h3 {
    color: rgb(255, 73, 73);
}

.removed button {
    background-color: rgb(255, 73, 73);
    color: white;
    border: none;
    text-transform: capitalize;
    padding: .5rem .7rem;
    border-radius: 50px;
    transition: .3s;
}

.removed button:hover {
    background-color: rgb(226, 55, 55);
}