.nav-bar {
    height: 80px;
}

.app-main {
    min-height: calc(100vh - 80px);
}

.email-nav {
    height: 80px;
}

.email-app,
.notes-app,
.book-app {
    min-height: calc(100vh - 80px);
}

.email-main {
    min-height: calc(100vh - 80px);
}

.notes-app-w {
    width: calc(100vw - 3rem);
}

.main-footer {
    height: 80px;
}