.nav-bar {
    height: 80px;
}

.app-main {
    min-height: calc(100vh - 80px);
}

.email-nav {
    height: 80px;
}

.email-app, .notes-app, .book-app  {
    min-height: calc(100vh - 80px);
}
.email-main {
    min-height: calc(100vh - 80px);
}

.notes-app-w {
    width: calc(100vw - 4rem);
}

.main-footer {
    height: 80px;
}
.member-img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.about-container{
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1518481612222-68bbe828ecd1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)no-repeat center center fixed;
    background-size: cover;

}
.about-description{
    width: 60%;
    line-height: 1.7;
    background-color: #ffffff99;
    padding: 30px;
}
.team-member{
    align-self: center;
    width: 900px;
}