.nav-bar {
    height: 80px;
}

.app-main {
    min-height: calc(100vh - 160px);
}

.email-nav {
    height: 80px;
}

.email-app, .notes-app  {
    min-height: calc(100vh - 80px);
}
.email-main {
    min-height: calc(100vh - 160px);
}


.main-footer {
    height: 80px;
}