.email-app {
  background-color: rgb(255, 255, 255);
  position: relative;
}

.email-folders {
  width: 200px;
}

.email-list {
  flex: 1;
}


@media (max-width: 860px) {
  .email-folders {
    width: 150px;
  }
}